footer.vlt-footer.vlt-footer--style-1.vlt-footer--fixed(style="padding: 70px 0 30px 0;")
  .container
    .text-center
      a.vlt-footer-logo(href="/")
        img(src="img/logo-dark@2x.png" alt="" style="height: 120px;")
      .vlt-footer-socials.vlt-footer-socials--style-1(style="margin-top: 0;")
        a.vlt-social-icon.vlt-social-icon--style-2(href="#" target="_blank")
          i.fa.fa-vk
        a.vlt-social-icon.vlt-social-icon--style-2(href="#" target="_blank")
          i.fa.fa-facebook
        a.vlt-social-icon.vlt-social-icon--style-2(href="#" target="_blank")
          i.fa.fa-instagram
      .vlt-footer-copyright(style="margin-top: 30px; font-size: 10pt;")
        p &lt;&sol;&gt; with 
          span(style="color: #ee3364;") ❤ 
          | by 
          a(href="mailto:goo.kambl4@gmail.com") Tarasenko_PS