footer.vlt-footer.vlt-footer--style-1.vlt-footer--fixed
  .container
    .text-center
      a.vlt-footer-logo(href="/")
        //- img(src="img/root/logo--footer-white.png" alt="" style="height: 62px;")
        h1(style="color: white;") PerolDesign.
      .vlt-footer-copyright
        p &lt;&sol;&gt; with 
          span(style="color: #ee3364;") ❤ 
          | by 
          a(href="mailto:goo.kambl4@gmail.com") Tarasenko_PS
      .vlt-footer-socials.vlt-footer-socials--style-1
        a.vlt-social-icon.vlt-social-icon--style-2(href="#" target="_blank")
          i.fa.fa-vk
        a.vlt-social-icon.vlt-social-icon--style-2(href="#" target="_blank")
          i.fa.fa-facebook
        a.vlt-social-icon.vlt-social-icon--style-2(href="#" target="_blank")
          i.fa.fa-instagram