meta(charset="utf-8")

meta(name="description" content="Modern, Colorful &amp; Creative Portfolio HTML5 Template")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")

meta(name="msapplication-TileColor" content="#da532c")
meta(name="theme-color" content="#ffffff")
link(rel="apple-touch-icon" sizes="76x76" href="img/apple-touch-icon.png")
link(rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png")
link(rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png")
link(rel="manifest" href="img/favicon/site.webmanifest")
link(rel="mask-icon" href="img/favicon/safari-pinned-tab.svg" color="#5bbad5")

link(rel="stylesheet" href="css/framework/bootstrap.min.css")
link(rel="stylesheet" href="css/vlt-plugins.css")
link(rel="stylesheet" href="revolution/css/settings.css")
link(href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800%7CMuli:400,400i,600%7CPlayfair+Display:700i" rel="stylesheet")
link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap&subset=cyrillic" rel="stylesheet")
//- link(rel="stylesheet" href="fonts/fontawesome/font-awesome.min.css")
link(rel="stylesheet" href="fonts/leedo/style.css")
link(rel="stylesheet" href="css/vlt-style.min.css")
link(rel="stylesheet" href="css/custom.css")
link(rel="stylesheet" href="css/crutches.css")

script(src='https://kit.fontawesome.com/944b2d15b2.js')